<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ll.gwentmirror.mapper.ICardMapper">

    <select id="findByCid" parameterType="int" resultType="com.ll.gwentmirror.entity.Card">
        SELECT *
        FROM Card
        WHERE
        cid = #{cid}
    </select>


</mapper>
